*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

::selection {
  color: none;
  background: none;
}

.video-container{
  height: 100vh;
  width: 100vw;
  background: black;
  overflow: hidden;
}

video{
  height: 100%;
  width: 100%;
}

.media-controls{
  height: 300px;
  width: 200px;
  top: 25%;
  right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  /* background: white; */
}

.media-controls>div{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 8px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoomInOut{
  flex-direction: column;
  height: 60px !important;
  border-radius: 0px !important;
  border: none !important;
  justify-content: space-between !important;
}

.zoomInOut div{
  
  background: white;
  height: 35%;
  width: 40%;
  font-size: 25px;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20%;
  cursor: pointer;
  -webkit-tap-highlight-color:transparent;;
}


.record-video-animate{
  background: red;
  height: 70%;
  width: 70%;
  border-radius: 50%;
}

.capture-photo-animate{
  background: white;
  height: 70%;
  width: 70%;
  border-radius: 50%;
}

.record-video-animate:hover{
  height: 75%;
  width: 75%;
}

.capture-photo-animate:hover{
  height: 75%;
  width: 75%;
}
.record-animate{
  animation: scaleUpDown 1.5s infinite;
}

.capture-animate{
  animation: scaleUpDown 1s 1;
}

@keyframes scaleUpDown{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
}

.filter-controls{
  height: 500px;
  width: 130px;
  top: 15%;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background: white;
}
.filter-controls>div{
  height: 100px;
  width: 130px;
  border-radius: 50%;
  border: 8px solid white;
  display: flex;
  background: chocolate;
  justify-content: center;
  align-items: center;
}

.testImage{
  height: 100px;
  width: 130px;
}

.filter1{
  filter: saturate(300%)
}

.filter2{
  filter: sepia(100%) drop-shadow(16px 16px 10px black);

}

.filter3{
  filter: hue-rotate(90deg)
}

.filter4{
  filter: hue-rotate(180deg) saturate(1.5);
}

.filter5{
  filter: grayscale(100%)
}